body {
  background: url(./images/main-background.jpg) #255fae no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column {
  background: #dfe3e6;
  padding: 5px;
  margin: 5px;
}

.card {
  background: #ffffff;
  margin: 5px 0;
}

.column-add__btn {
  height: 30px;
}

